body {
    margin: 0 auto
}
#pageheader * {
    padding:20px;
    border-bottom: 25px solid black;
    background:darkgreen;
    color: antiquewhite;
    font-size: 40px;
    font-family: cursive;
    font-style:italic;
    text-shadow: 4px 4px 4px black;
    position: static;
    bottom:25px;
    z-index: 2;
}
#pagemajority * {
    padding:20px;
    margin: 0 auto;
    border: 5px solid;
    background:cornsilk;
    position: relative;
    bottom:40px;
}

.buttonlink * {
    padding:20px;
    border: 0px solid darkgreen;
    background:black;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 20px;
    color: lightcyan;
    z-index: 2;
}

.navway {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 125px;
    left: 100px;
    z-index: 2;
}

a:hover {
    background-color: rgb(73, 70, 70);
    color: lightblue;
}